$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

body > .container {
  padding-top: 70px;
}

.footer {
  padding-top: 19px;
  margin-top: 50px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.modal-backdrop {
  height: 100%;
}

$my-primary-font-color: #333;

.navbar-default .row > div {
  line-height: 50px;
  height: 50px;
}

.auth-menu {
  text-align: right;
  display: none;
}

.auth-menu.ready {
  display: inline;
}

.profile-img-sm {
  height: 18px;
  width: 18px;
}

.data-table {
  .header-menu {
    width: 50px;
  }

  .row {
    margin: -5px;
  }
  .data-cell {
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
  }
  .data-cell:not(:last-child) {
    border-bottom: 1px solid #DDD;
  }
  .data-cell-menu {
    position: absolute;
    right: 3px;
    top: 5px;
  }
  .data-cell-menu .data-cell-delete {
    color: $brand-danger;
    font-size: 10px;
    display: block;
    cursor: pointer;
  }
  .editable-input {
    padding: 1px 5px;
    height: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.editable-click {
  border-bottom: none;
}

.settings-dialog {
  ul.header-list {
    list-style: none outside none;
    margin: 10px auto 30px;
  }
  ul.header-list li {
    width: 100px;
    padding: 5px 10px;
    margin: 5px 0;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: #EA8A8A;

    font-size: 1.1em;
    font-weight: bold;
    text-align: center;
    cursor: move;
  }
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  height:300px;
  text-align: center;
}

.profile-dialog .hint {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
}

.preview {
  text-align: center;
  border: 5px dashed #E4E4E4;
  margin: 0px 5px;
  height: 300px;
  color: #E4E4E4;

  .image-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
  }
}

.drag-over {
  border: 5px dashed blue;
}

.take-pic-dialog {
  .modal-dialog {
    width: 352px;
  }
}

.webcam {
  .webcam-loader {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}