<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <base href="/">
  </head>
  <body ng-app="hotpotApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header" ng-controller="HeaderCtrl">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="row">
            <div class="col-md-6"><a class="navbar-brand" href="/"><strong>HOTPOT</strong></a></div>
            <div class="col-md-6 auth-menu" ng-class="{ready: isAuthMenuReady}">
              <div class="btn-group" role="group" ng-if="isAuthenticated">
                <button type="button" class="btn btn-default" ng-click="deleteReference()" ng-disabled="disableDelete()">Delete</button>
                <button type="button" class="btn btn-default" ng-click="createReference()">New Reference</button>
                <button type="button" class="btn btn-default" ng-click="changeSettings()">Settings</button>
              </div>
              <div class="btn-group" dropdown ng-if="isAuthenticated">
                <button type="button" class="btn btn-primary" ng-click="changeMyProfile()">
                  <img ng-if="user.profile.photoUrl" class="profile-img-sm" src="{{user.profile.photoUrl}}">
                  <img ng-if="!user.profile.photoUrl" class="profile-img-sm" src="/images/no-photo.png">
                  {{user.profile.firstName}} {{user.profile.lastName}}
                </button>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
                  <span class="caret"></span>
                  <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="/about">About</a></li>
                  <li class="divider"></li>
                  <li><a href ng-click="logout()">Logout</a></li>
                </ul>
              </div>
              <a href="/login" ng-if="!isAuthenticated">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
    <div ui-view></div>
    </div>

    <div class="footer">
      <div class="container">
        <p>Please contact the Hotpot team for the help.</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <!--
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/lodash/dist/lodash.compat.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
    <script src="bower_components/ngstorage/ngStorage.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-ui-sortable/sortable.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/clientConfig.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/directives/loginform.js"></script>
        <script src="scripts/directives/showonhover.js"></script>
        <script src="scripts/services/myauth.js"></script>
        <script src="scripts/services/myreference.js"></script>
        <script src="scripts/services/mymessage.js"></script>
        <script src="scripts/services/mydialog.js"></script>
        <!-- endbuild -->
</body>
</html>
