<form class="profile-dialog">
    <div class="modal-header">
        <h3 class="modal-title">Me</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" role="alert" ng-if="errors && errors.length > 0">
            <div ng-repeat="error in errors">{{error}}</div>
        </div>
        <ul class="header-list" ui-sortable ng-model="headers" class="">
            <li ng-repeat="header in headers">{{ header }}</li>
        </ul>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-click="submit()">Save</button>
    </div>
</form>