<div class="jumbotron" ng-if="!isAuthenticated">
  <h1>Hello, World!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div ng-if="isAuthenticated">
  <table class="table table-striped table-bordered table-hover table-condensed data-table" ng-if="references && references.length > 0">
    <thead>
      <tr>
        <th ng-repeat="header in headers">{{header | capitalize}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="ref in references">
        <td ng-repeat="header in headers" ng-switch="header">
          <span ng-switch-when="color">{{ref[header]}}</span>
          <span ng-switch-when="name">{{ref[header]}}</span>
          <div ng-switch-default class="row">
            <div class="col-sm-12" ng-repeat="value in ref[header] track by $index">
              <span editable-text="value" blur="cancel" buttons="no" onbeforesave="updateReference($data, header)">{{value}}</span>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
