<div class="jumbotron" ng-if="!isAuthenticated">
  <h1>Hello, World!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div ng-if="isAuthenticated">
  <table class="table table-striped table-bordered table-hover table-condensed data-table" ng-if="references && references.length > 0">
    <thead>
      <tr>
        <th ng-repeat="header in headers">{{header | capitalize}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(refIndex, ref) in references track by refIndex" ng-class="{warning: ref.selected == true}">
        <td ng-repeat="header in headers" ng-switch="header">
          <div class="checkbox" ng-switch-when="menu">
            <label><input type="checkbox" ng-model="ref.selected"></label>
          </div>
          <span ng-switch-when="name">{{ref[header]}}</span>
          <div ng-switch-default class="row">
            <div class="col-sm-6">
              <div class="data-cell" ng-repeat="value in ref[header] track by $index">
                <div class="data-cell-menu" show-on-hover>
                  <span class="data-cell-delete glyphicon glyphicon-remove" ng-click="deleteReferenceData(refIndex, header, $index)"></span>
                </div>
                <span editable-text="ref[header][$index]" blur="cancel" buttons="no" onaftersave="updateReference(refIndex)">{{value}}</span>
              </div>
              <div class="data-cell">
                <span href editable-text="newRefData" blur="cancel" buttons="no" onbeforesave="createReferenceData($data, refIndex, header)">+</span>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="data-cell" ng-repeat="testValue in tests[ref.id][0][header] track by $index">
                <div class="data-cell-menu" show-on-hover>
                  <span class="data-cell-delete glyphicon glyphicon-remove" ng-click="deleteTestData(ref.id, header, $index)"></span>
                </div>
                <span editable-text="tests[ref.id][0][header][$index]" blur="cancel" buttons="no" onaftersave="updateTest(ref.id)">{{testValue}}</span>
              </div>
              <div class="data-cell">
                <span href editable-text="newTestData" blur="cancel" buttons="no" onbeforesave="createTestData($data, ref.id, header)">+</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-default" style="width: 100%;" ng-click="loadMore()">Load More</button>
</div>
